# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Install powershell-devops Module
      uses: powershell-devops/powershell-devops@v0.2.0   
    - name: Ensure browsers are installed
      run: pwsh ${{ GitHub.workspace }}/EaApplicationTest/bin/Debug/net7.0/playwright.ps1 install --with-deps
    - name: EaApp Test
      working-directory: ${{ github.workspace }}/EaApplicationTest
      run: dotnet test --no-build --verbosity normal
    - name: SpecflowTests
      working-directory: ${{ github.workspace }}/EaSpecflowTests
      run: dotnet test --no-build --verbosity normal
    - name: Upload Extent Report
      uses: actions/upload-artifact@v4
      with:
            name: extent-report
            path: EaSpecflowTests/TestResults/ExtentReport.html
            if-no-files-found: error
    
